{% extends 'master' %}

{% block content %}
<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h2 class="box-title">Create Menu</h2>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
          <table class="table table-bordered table-hover table-striped table-condensed">
            {% if(res.create) %}
            {{ form.open({action: 'MenuController.store'}) }}
            {% else %}
            {{ form.open({action: 'MenuController.update', params: {id: menu.kode_menu} }) }}
            {% endif %}
            {{ csrfField }}
                <tr>
                    <td>Kode Menu</td>
                    <td>
                      <div id="check-kode">
                        <input type="text" name="kode_menu" class='form-control'>
                        <span class="help-block"></span>
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>Nama Menu</td>
                    <td><input type="text" name="name" class='form-control'></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">Rp</span><input type="text" name="price" class='form-control number' pattern="[0-9]+([\.,][0-9]+)?" title="Hanya angka">
                        </div>
                      </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <input type="reset" class="btn btn-warning" value="Reset">
                    </td>
                </tr>
            {{ form.close() }}
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  {% block script %}

  <script>
  $(document).ready(function(){

    $('input[name="kode_menu"]').val("{{ menu.kode_menu }}");
    $('input[name="name"]').val("{{ menu.name }}");
    $('input[name="price"]').val("{{ menu.price }}");

    $('input.number').keyup(function(event) {
      // skip for arrow keys
      if(event.which >= 37 && event.which <= 40){
          event.preventDefault();
      }

      $(this).val(function(index, value) {
          return value
              .replace(/\D/g, '')
              .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
          ;
      });
    });

    var d = document.getElementById("check-kode");

    $('input[name="kode_menu"]').keyup(function(event){
      // get keycode of current keypress event
      var code = (event.keyCode || event.which);
      // do nothing if it's an arrow key
      if(code == 37 || code == 38 || code == 39 || code == 40) {
          return;
      }
      $(this).val(function(index, value){
        if(value == ""){
          d.className = "";
          $('.help-block').text("");
        } else {
          $.ajax({
            type: 'GET',
            url: '/check_kode_menu',
            data: {kode_menu: value},
            success: function(resp){
              if(resp.success){
                d.className = "has-success";
                $('.help-block').text(resp.result);
              } else {
                d.className = "has-error";
                $('.help-block').text(resp.result);
              }
            }
          });
        }
        return value;
      });
    });

    });

</script>

  {% endblock %}