{% extends 'master' %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h2 class="box-title">Daftar Menu</h2>
            <br><br>
            <a href="/menu/create" class="btn btn-info">Create New Menu</a>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            {% if currentUser %}
            <p>True</p>
            {% else %}
            <p>False</p>
            {% endif %}
            <table id="myTable" class="table table-bordered table-hover table-striped table-condensed">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Kode Menu</th>
                  <th>Nama Menu</th>
                  <th>Harga</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for menu in menus %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ menu.kode_menu }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.price }}</td>
                <td>
                <a href="/menu/{{ menu.kode_menu }}/edit" class="btn btn-warning">Edit Menu</a>
                <button class="btn btn-danger delete" data-id="{{ menu.kode_menu }}" data-token="{{ csrfToken }}">Delete</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}

  {% block script %}
  <script>
  $(document).ready(function(){

    $('#myTable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    });


    $('.delete').on('click', function(){
      var id = $(this).data('id');
      var token = $(this).data('token');
      $.ajax({
        url: '/menu/' + id,
        type: 'DELETE',
        data: {'_method': 'DELETE', '_csrf':token},
        success: function(){
          console.log('Success Delete!');
          window.location.href = "/menu";
        }
      });
    });

  });

  </script>
  {% endblock %}